$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
body {
  margin: 0;
  padding: 0 3rem;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
html {
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
